p { 
    margin-top: 0%;
	font-size: 2rem; 
	color: black; 
    font-family: Arial, Helvetica, sans-serif; 
} 
#G1 {
    margin-left: 2%;
    position: relative;
    top: 120px;
}
#G2 {
    margin-left: 85%;
    position: relative;
    top: 50px;
}
.center {
    padding-left: 23%;
} 
.container { 
	width: 100%; 
	margin: auto; 
	text-align: center; 
}
.bottom { 
    padding-top: 30px;
    margin-top: 10%; 
} 
.butn { 
	background: #4ecca3; 
	font-family: "Indie Flower", Arial, Helvetica, sans-serif; 
	border-radius: 15px; 
	color: black; 
	font-size: 30px; 
	padding: 10px 30px 10px 30px; 
	text-decoration: none; 
} 
.butn:hover { 
	background: #9b776c; 
	text-decoration: none; 
} 
#btn1 {
    position: relative;
    top: -20px;
    left: 135px;
}
#btn2 {
    position: relative;
    top: -350px;
    float: left;
}
#btn4 {
    position: relative;
    top: -250px;
    float: left;
    left: -190px;
}
#btn3 {
    position: relative;
    top: -350px;
    float: right;
}
#btn5 {
    position: relative;
    top: -250px;
    float: right;
    right: -190px;
}
  